.filter-sidebar {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.sort-by {
  margin-bottom: 20px;
}

.sort-by label {
  margin-right: 10px;
}

.sort-by select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.filter-section {
  margin-bottom: 20px;
}

.filter-section h3 {
  margin-bottom: 10px;
  font-size: 1em;
  color: #333;
}

.filter-section div {
  margin-bottom: 10px;
}
